@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

* {
    font-family: Oswald;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 20px;
}

h2{
    margin: 0;
    text-align: center;
}

.booking-container {
    width: 60%;
    margin: 60px auto 20px;
    border-radius: 8px;
}

.booking-image {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.booking-image div {
    text-align: center;
}

.booking-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.booking-topic {
    margin-top: 0;
    color: #ff9633;
    text-align: center;
}

.booking-select-container {
    width: 100%;
    margin: 0 0 0 10px;
    padding: 20px 0;
}

.booking-select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 50px;
    border: 1px solid gray;
}

.booking-input {
    width: 100%;
    border: none;
    padding: 10px;
    padding-right: 0px;
    font-size: 17px;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
    margin-left: 5px;
}

.booking-button {
    width: 100%;
    border: none;
    margin: 5px 0 10px 10px;
    padding: 5px 0;
    color: white;
    font-size: 25px;
    border-radius: 50px;
    background-color: #ff9633;
}

.rule {
    padding: 0;
    margin: 0 50px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}
